/*
Copyright 2018-2019 psvenk
This file is part of AgendaCreator.

AgendaCreator is free/libre and open-source software: you can redistribute it
and/or modify it under the terms of the Mozilla Public License, Version 2.0 or
any later version. See file `COPYING` for more details.

This file is also available under the Apache License, Version 2.0 or any later
version. See file `COPYING` for more details.

SPDX-License-Identifier: MPL-2.0+ OR Apache-2.0+
*/

body * {
	display: none;
}

#outputTableHeading, #outputTableHeading * {
	display: block;
	margin: 0;
}

#outputTableHeading {
	height: 10%;
	top: 0;
	left: 0;
	vertical-align: top;
}

.center {
	text-align: center;
}

#outputTable {
	display: table;
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 90%;
	table-layout: fixed;
}

#outputTable tr {display: table-row;}
#outputTable td, #outputTable th {display: table-cell;}

#outputTable tr.header {
	height: 5%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

@page {
	size: landscape;
}
