/*
Copyright 2018-2019 psvenk
This file is part of AgendaCreator.

AgendaCreator is free/libre and open-source software: you can redistribute it
and/or modify it under the terms of the Mozilla Public License, Version 2.0 or
any later version. See file `COPYING` for more details.

This file is also available under the Apache License, Version 2.0 or any later
version. See file `COPYING` for more details.

SPDX-License-Identifier: MPL-2.0+ OR Apache-2.0+
*/

#betaText {
	color: #aa8800;
}

.build {
	font-weight: normal;
	font-style: italic;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

#copyright {
	width: 40em;
}

#outputTableHeading {
	display: none;
}

.center {
	text-align: center;
}
